.table {
    --table-bg: #121212;
    --alternate-row: #1A1A1A;
    /*--border: var(--dark);*/
    --border: #4B3FA7;
}

.table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9rem;
    /* change min-width */
    overflow: hidden;
    width: max-content;
    max-width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    background-color: var(--table-bg);
}


.table thead tr {
    top: 0;
    position: sticky;
    z-index: 2;
}


.table thead tr:last-child {
    top: 42px;
}


.table thead tr {
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
}

.table thead tr:first-child th {
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}


.table thead tr:last-child {
    background-color: #2E0F6C;
    color: var(--text);
    text-align: left;
    border-bottom: 2px solid var(--primary);
}

.table thead tr:last-child th {
    font-weight: normal;
}

.table th, .table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid var(--border);
}

.table tbody tr:nth-of-type(even) {
    background-color: var(--alternate-row);
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
}

.table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary)
}