.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-image: url("./assets/bg2.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
}


nav {
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.3rem 6rem;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

nav img {
    object-fit: contain;
    height: 100%;
}