:root {
    --primary: #590CC9;
    --secondary: #6A3FC0;
    --dark: #250388;
    --background: #121212;
    --text: #FFFFFF;
    color: var(--text);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.table-button {
    background: none;
    border: none;
}